In [1]:
print("hello world")

hello world

In [2]:
b = [1,2,3]

In [3]:
b?

In [4]:
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

NameError: name 'array' is not defined

In [5]:
a = [1,2,3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [6]:
def append_element(some_list,element):
    some_list.append(element)

data = [1,2,3]
append_element(data,4)

In [7]:
data

[1, 2, 3, 4]

In [2]:
a = 5
type(a)
a = 'string'
type(a)

str

In [3]:
a = 5
isinstance(a,int)

True

In [5]:
a = 'foo'

SyntaxError: invalid syntax (4179155803.py, line 2)

In [6]:
a = 'foo'
getattr(a,'split')

In [7]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

isiterable('string')

True

In [10]:
a = [1,2,3]
isinstance(a,list)
isinstance(a,tuple)

False

In [11]:
a = False
b= False
a ^ b

False

In [12]:
a_list = ['foo',1,[2,3]]
a_list[2] = [3.4]
a_list

['foo', 1, [3.4]]

In [1]:
#元组不可变
a_tuple = (3,4,(4,5))
a_tuple[1] = ['a']

TypeError: 'tuple' object does not support item assignment

In [2]:
#标量类型
#数值类型 int 和float int 可以存储任意大数
inval = 17239871
inval ** 6

26254519291092456596965462913230729701102721

In [3]:
fval = 7.243
fval2 = 6.78e-5
3 / 2

1.5

In [4]:
#整除
3 // 2

1

In [8]:
#可以使用单引号或者双引号来写字符串
a = 'one way of writing a string'
b = "another way"
print(a + b)

one way of writing a stringanother way

In [6]:
c = """
this is a longer string that
spans multiple lines
"""
print(c)

this is a longer string that
spans multiple lines

In [9]:
# 字符串是不可变的，不能修改
a = "this is a string"
a[0] = '1'

TypeError: 'str' object does not support item assignment

In [10]:
a = 5.6 
s = str(a)
print(s)

5.6

In [11]:
#字符串是一个序列的unicode字符，因此可以像其他序列一样处理
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [12]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'