常用方法
1.数据中，选择需要的的行或者列
2.基础索引方式，就是直接引用
3.ioc[行索引名称或者条件,列索引名或者标签]
4.iloc[行索引位置，列索引位置]
5.注意，区分loc和iloc

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/master.csv',encoding='utf-8')

In [ ]:
# 查看数据
df.info()

In [ ]:
# 查看前5条数据
df.head(5)

In [ ]:
df.tail(5)

In [ ]:
# 简单索引
df['country']

In [ ]:
df['country'][:5]

In [ ]:
# 多变量选择
df[['country','year']][0:5]

In [ ]:
# loc 和 iloc 的使用
df.loc[3:4]

In [ ]:
# 选择列和column
df.loc[:,['country','sex']]

In [ ]:
df.loc[1:3,['country','population']]

In [ ]:
# 获取 在某个特定条件下 对应字段数据
df.loc[df.country == 'Uzbekistan',['sex','population']]

In [ ]:
# 多条件选
df.loc[(df.country == 'Albania') | (df.country=='USA'),['year','sex','age']]

In [ ]:
# 注意iloc是位置
df.iloc[:,1:4] #按照位置选第二列到第四列

In [ ]:
df.iloc[3,[1,2]] #按照位置选择第四行，第二列和第三列数据 3不是代表索引是位置

In [ ]:
df.iloc[2:7,[1,3]]

In [ ]:
df.iloc[2:7]

数据增加和删除
在数据中直接增加列
使用df.insert()
掌握drop(labels,axis,inplace=True)的用法
labels表示删除的数据，axis表示轴，inplace=True表示对原数据是否生效
axis = 0 按行操作，axis = 1 按列操作
使用del 函数直接删除其中一列

In [ ]:
# 增加一列人口大于2万
df['population_up'] = np.where(df['population'] >= 20000,'high','low') 
df.head()

In [ ]:
# 删除列
del df['population_up']
df.head()

In [ ]:
df['population_up'] = np.where(df['population'] >= 20000,'high','low') 
population_up = df['population_up']
df.insert(0,'pop_1',population_up)
df.head()

In [ ]:
df.drop(labels=['pop_1','population_up'],axis=1,inplace=True)
df

In [ ]:
# df.drop(labels=[3,4],inplace=True,axis=0) #删除3，4 index的行
df.drop(labels=range(1,3),axis=0,inplace=True)
df.head()

3.数据修改和查找
1.在数据中，可以使用rename修改列名称或者行索引名称
2.使用loc方法修改数据
3.使用loc方法查找符合条件数据
4.条件与条件之间用&或者|连接 分别代表'且' 和 '或'
5.使用between 和 isin选择满足条件的行

In [ ]:
df.head()

In [ ]:
df.loc[df['sex'] == 'male','sex'] = '男'
df.loc[df['sex'] == 'female','sex'] = '女'

df.head()

In [ ]:
df.rename(columns={'country-year':'country_year'},inplace=True)
df.head()

In [ ]:
# 条件查询
df[df['sex'] == '男'].head()

In [ ]:
df[(df['sex']== '男') & (df['suicides_no'] >= 10)].head()

In [ ]:
# 使用between，inclusive=True
df[df['gdp_per_capita ($)'].between(769,896,inclusive='both')].head(100)

In [ ]:
df[df['country'].isin(['America'])].head()

4.数据整理
在清洗过程中，很多时候需要将不用的数据整理在一起，方便后续的分析，这个过程叫数据合并
合并方法:有堆叠和按住键进行合并，按主键合并类似SQL里面的关联操作
横向堆叠将两张表或多张表在x轴方向，即横向拼接在一起
纵向堆叠将两张表或者多张在Y轴方向，即纵向拼接在一起
注意使用concat时，axis=1用于横向，0代表纵向
注意join 取inner 或者outer ，分别代表交集和并集

In [ ]:
order = pd.concat([df,df],axis=0,ignore_index=False)

In [ ]:
order.shape

In [ ]:
#通过循环合并
import xlrd
workbook = xlrd.open_workbook('data/master.csv')
sheet_name = workbook.sheet_names()
basic = pd.DataFrame()
for i in sheet_name:
    basic_i = pd.read_excel('data/master.csv',header=0,sheet_name=i)
    basic = pd.concat([basic,basic_i],axis=0)

In [ ]:
# 关联，关联字段必须要一致
df2 = pd.merge(left=df,right=df,how='inner',left_on='country',right_on='country')

5 层次化索引
定义：在一个轴上拥有两个或者两个以上的索引
使用loc语句进行访问
loc里面接受数据tuple 如loc[(a,b)]

In [43]:
df = pd.read_csv('data/master.csv',encoding='utf-8',index_col=[0,1,2])
# df = pd.read_csv('data/master.csv',encoding='utf-8',index_col=[3,0])
df

                                age  suicides_no  population  \
country    year sex
Albania    1987 male    15-24 years           21      312900
                male    35-54 years           16      308000
                female  15-24 years           14      289700
                male      75+ years            1       21800
                male    25-34 years            9      274300
...                             ...          ...         ...
Uzbekistan 2014 female  35-54 years          107     3620833
                female    75+ years            9      348465
                male     5-14 years           60     2762158
                female   5-14 years           44     2631600
                female  55-74 years           21     1438935

                        suicides/100k pop    country-year  HDI for year  \
country    year sex
Albania    1987 male                 6.71     Albania1987           NaN
                male                 5.19     Albania1987           NaN
                female               4.83     Albania1987           NaN
                male                 4.59     Albania1987           NaN
                male                 3.28     Albania1987           NaN
...                                   ...             ...           ...
Uzbekistan 2014 female               2.96  Uzbekistan2014         0.675
                female               2.58  Uzbekistan2014         0.675
                male                 2.17  Uzbekistan2014         0.675
                female               1.67  Uzbekistan2014         0.675
                female               1.46  Uzbekistan2014         0.675

                        gdp_for_year ($)   gdp_per_capita ($)       generation
country    year sex
Albania    1987 male        2,156,624,900                 796     Generation X
                male        2,156,624,900                 796           Silent
                female      2,156,624,900                 796     Generation X
                male        2,156,624,900                 796  G.I. Generation
                male        2,156,624,900                 796          Boomers
...                                   ...                 ...              ...
Uzbekistan 2014 female     63,067,077,179                2309     Generation X
                female     63,067,077,179                2309           Silent
                male       63,067,077,179                2309     Generation Z
                female     63,067,077,179                2309     Generation Z
                female     63,067,077,179                2309          Boomers

[27820 rows x 9 columns]

In [44]:
# 第一层引用
df.loc['Albania']

                     age  suicides_no  population  suicides/100k pop  \
year sex
1987 male    15-24 years           21      312900               6.71
     male    35-54 years           16      308000               5.19
     female  15-24 years           14      289700               4.83
     male      75+ years            1       21800               4.59
     male    25-34 years            9      274300               3.28
...                  ...          ...         ...                ...
2010 female  35-54 years           12      394593               3.04
     female  55-74 years            7      241491               2.90
     female  15-24 years            6      263581               2.28
     female   5-14 years            2      223969               0.89
     male     5-14 years            0      240939               0.00

            country-year  HDI for year  gdp_for_year ($)   gdp_per_capita ($)  \
year sex
1987 male    Albania1987           NaN      2,156,624,900                 796
     male    Albania1987           NaN      2,156,624,900                 796
     female  Albania1987           NaN      2,156,624,900                 796
     male    Albania1987           NaN      2,156,624,900                 796
     male    Albania1987           NaN      2,156,624,900                 796
...                  ...           ...                ...                 ...
2010 female  Albania2010         0.722     11,926,953,259                4359
     female  Albania2010         0.722     11,926,953,259                4359
     female  Albania2010         0.722     11,926,953,259                4359
     female  Albania2010         0.722     11,926,953,259                4359
     male    Albania2010         0.722     11,926,953,259                4359

                  generation
year sex
1987 male       Generation X
     male             Silent
     female     Generation X
     male    G.I. Generation
     male            Boomers
...                      ...
2010 female     Generation X
     female           Silent
     female       Millenials
     female     Generation Z
     male       Generation Z

[264 rows x 9 columns]

In [ ]:
# 第二层引用多选择
df.loc[('Albania','1987')]

KeyError: "None of [Index(['1987', '2010'], dtype='object')] are in the [columns]"