常用方法
1.数据中，选择需要的的行或者列
2.基础索引方式，就是直接引用
3.ioc[行索引名称或者条件,列索引名或者标签]
4.iloc[行索引位置，列索引位置]
5.注意，区分loc和iloc

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/master.csv',encoding='utf-8')

In [ ]:
# 查看数据
df.info()

In [ ]:
# 查看前5条数据
df.head(5)

In [ ]:
df.tail(5)

In [ ]:
# 简单索引
df['country']

In [ ]:
df['country'][:5]

In [ ]:
# 多变量选择
df[['country','year']][0:5]

In [ ]:
# loc 和 iloc 的使用
df.loc[3:4]

In [ ]:
# 选择列和column
df.loc[:,['country','sex']]

In [ ]:
df.loc[1:3,['country','population']]

In [ ]:
# 获取 在某个特定条件下 对应字段数据
df.loc[df.country == 'Uzbekistan',['sex','population']]

In [ ]:
# 多条件选
df.loc[(df.country == 'Albania') | (df.country=='USA'),['year','sex','age']]

In [ ]:
# 注意iloc是位置
df.iloc[:,1:4] #按照位置选第二列到第四列

In [ ]:
df.iloc[3,[1,2]] #按照位置选择第四行，第二列和第三列数据 3不是代表索引是位置

In [ ]:
df.iloc[2:7,[1,3]]

In [ ]:
df.iloc[2:7]

数据增加和删除
在数据中直接增加列
使用df.insert()
掌握drop(labels,axis,inplace=True)的用法
labels表示删除的数据，axis表示轴，inplace=True表示对原数据是否生效
axis = 0 按行操作，axis = 1 按列操作
使用del 函数直接删除其中一列

In [ ]:
# 增加一列人口大于2万
df['population_up'] = np.where(df['population'] >= 20000,'high','low') 
df.head()

In [ ]:
# 删除列
del df['population_up']
df.head()

In [ ]:
df['population_up'] = np.where(df['population'] >= 20000,'high','low') 
population_up = df['population_up']
df.insert(0,'pop_1',population_up)
df.head()

In [ ]:
df.drop(labels=['pop_1','population_up'],axis=1,inplace=True)
df

In [ ]:
# df.drop(labels=[3,4],inplace=True,axis=0) #删除3，4 index的行
df.drop(labels=range(1,3),axis=0,inplace=True)
df.head()

3.数据修改和查找
1.在数据中，可以使用rename修改列名称或者行索引名称
2.使用loc方法修改数据
3.使用loc方法查找符合条件数据
4.条件与条件之间用&或者|连接 分别代表'且' 和 '或'
5.使用between 和 isin选择满足条件的行

In [ ]:
df.head()

In [ ]:
df.loc[df['sex'] == 'male','sex'] = '男'
df.loc[df['sex'] == 'female','sex'] = '女'

df.head()

In [ ]:
df.rename(columns={'country-year':'country_year'},inplace=True)
df.head()

In [ ]:
# 条件查询
df[df['sex'] == '男'].head()

In [ ]:
df[(df['sex']== '男') & (df['suicides_no'] >= 10)].head()

In [88]:
# 使用between，inclusive=True
df[df['gdp_per_capita ($)'].between(769,896,inclusive='both')].head(100)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country_year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,男,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
5,Albania,1987,女,75+ years,1,35600,2.81,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
6,Albania,1987,女,35-54 years,6,278800,2.15,Albania1987,NaN,"2,156,624,900",796,Silent
7,Albania,1987,女,25-34 years,4,257200,1.56,Albania1987,NaN,"2,156,624,900",796,Boomers
8,Albania,1987,男,55-74 years,1,137500,0.73,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
...,...,...,...,...,...,...,...,...,...,...,...,...
9521,Georgia,1997,男,35-54 years,38,557750,6.81,Georgia1997,NaN,"3,510,540,809",828,Boomers
9522,Georgia,1997,男,15-24 years,22,354700,6.20,Georgia1997,NaN,"3,510,540,809",828,Generation X
9523,Georgia,1997,女,75+ years,7,123300,5.68,Georgia1997,NaN,"3,510,540,809",828,G.I. Generation
9524,Georgia,1997,女,55-74 years,12,455100,2.64,Georgia1997,NaN,"3,510,540,809",828,Silent
9525,Georgia,1997,女,35-54 years,13,629400,2.07,Georgia1997,NaN,"3,510,540,809",828,Boomers

In [90]:
df[df['country'].isin(['America'])].head()

Empty DataFrame
Columns: [country, year, sex, age, suicides_no, population, suicides/100k pop, country_year, HDI for year,  gdp_for_year ($) , gdp_per_capita ($), generation]
Index: []

4.数据整理
在清洗过程中，很多时候需要将不用的数据整理在一起，方便后续的分析，这个过程叫数据合并
合并方法:有堆叠和按住键进行合并，按主键合并类似SQL里面的关联操作