In [7]:
import pandas as pd
import numpy as np

df = pd.read_excel('data/售后单导出-0701-0731-2025-08-04-2675.xlsx',sheet_name='main')
df['订单号'] = df['订单号'].astype(str).replace("\t","")
df['售后申请单号'] = df['售后申请单号'].astype(str).replace("\t","")
df['详情货号'] = df['详情货号'].astype(str)
df['订单号'] = df['订单号'].apply(lambda x: x.rstrip("\t"))
df['售后申请单号'] = df['售后申请单号'].apply(lambda x: x.rstrip("\t"))

df = df[df['收货状态'] == '已收货']
df = df[['订单号','售后申请单号','详情货号','详情数量','详情良品','详情不良品']]
df.head()

                   订单号              售后申请单号     详情货号  详情数量  详情良品  详情不良品
0  6944489760012572367  147060682286118177  1711310     2     2      0
1  6944489760012572367  147060682286118177  1711158     2     2      0
2  6944704365122426321  147066706178728075  1711332     2     2      0
3  6920390465717828975  147065923223124849  1711310     1     0      1
4  6920390465717828975  147065923223124849  1711310     2     2      0

In [ ]:
# df.set_index(['售后申请单号','详情货号'])
# df.loc['147024735360871195']
df[(df['售后申请单号'] == '147024735360871195') | (df['售后申请单号'] == '147060966591706176') | (df['售后申请单号'] == '147040889011713985') | (df['售后申请单号'] == '147019227279232144')  ]

                       订单号              售后申请单号     详情货号  详情数量  详情良品  详情不良品
1157   6942173268627166382  147060966591706176  1711310     2     0      2
1158   6942173268627166382  147060966591706176  1711164     1     0      0
32877  6942217394183935346  147024735360871195  1711310     3     0      1
32878  6942217394183935346  147024735360871195  1711164     2     0      0