In [2]:
import pandas as pd
from pandas import DataFrame
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

Series 表现形式为左边索引，右边值，由于我们没有指定索引，这样就会自动创建0-N-1的值为索引

获取index属性

In [3]:
obj.index

RangeIndex(start=0, stop=4, step=1)

根据各个据点标记索引

In [7]:
obj2 = pd.Series([4,7,-5,3],index=['a','d','b','c'])
obj2

a    4
d    7
b   -5
c    3
dtype: int64

通过索引获取Series的单一或者一组值

In [8]:
obj2['d']

7

In [9]:
obj2[['a','b','c']]

a    4
b   -5
c    3
dtype: int64

根据布尔数组进行过滤，标量乘法，应用数学函数

In [10]:
obj2[obj2>0]

a    4
d    7
c    3
dtype: int64

In [11]:
obj2 * 2

a     8
d    14
b   -10
c     6
dtype: int64

Series 还可以看成一个定长的有序字典，因为的索引是一一映射的

In [13]:
'b' in obj2

True

In [14]:
'f' in obj2

False

根据python 字典创建Series

In [15]:
sdata = {'Ohio':35000,'Texas':71000}
obj3 = pd.Series(sdata)
obj3

Ohio     35000
Texas    71000
dtype: int64

传入字典默认index 就是原字典的键

In [17]:
states = ['California','Ohio','Oregon','Texas']
obj4 = pd.Series(sdata,index=states)
obj4

California        NaN
Ohio          35000.0
Oregon            NaN
Texas         71000.0
dtype: float64

由于California 和 Oregan 是没有的所以为NaN
pandas的isnull 和 notnull 函数可以用于检测缺失数据

In [18]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon         True
Texas         False
dtype: bool

In [20]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon        False
Texas          True
dtype: bool

Series 也有类似方法

In [21]:
obj4.isnull()

California     True
Ohio          False
Oregon         True
Texas         False
dtype: bool

Series最重要的一个功能就是，它会根据运算的索引标签自动对齐数据

In [22]:
obj3

Ohio     35000
Texas    71000
dtype: int64

In [23]:
obj4

California        NaN
Ohio          35000.0
Oregon            NaN
Texas         71000.0
dtype: float64

In [24]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon             NaN
Texas         142000.0
dtype: float64

Series对象本身以及其索引都有一个属性name

In [25]:
obj4.name = "population"
obj4.index.name = "state"
obj4

state
California        NaN
Ohio          35000.0
Oregon            NaN
Texas         71000.0
Name: population, dtype: float64

Series的索引可以通过赋值方式修改

In [27]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [1]:
obj.index = ['Bob','Tom','Mary','Lily']
obj

NameError: name 'obj' is not defined

DataFrame
DataFrame是一个表格型结构数据结构，它含有一组序列，每列可以是不同的值类型（数字，字符串，布尔值等）
DataFrame既有行索引也有列索引，它可以被看成Series字典

最常用的一种是直接传入一个由等长列表或NumPy数组组成字典

In [4]:
import pandas as pd
data = {
    'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
    'year':[2000,2001,2002,2001,2002,2003],
    'pop':[1.5,1.7,3.6,2.4,2.9,3.2]
}
frame = pd.DataFrame(data)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [5]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

指定列序列，则DataFrame的列就会按照指定顺序进行排列

In [6]:
pd.DataFrame(data,columns=['year','state','pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

如果传入列在数据找不到，就会产生结果缺失

In [7]:
frame2 = pd.DataFrame(data,columns=['year','state','pop','debt'],
                      index=['one','two','three','four','five','six'])

In [8]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

DataFrame可以获取为一个Series

In [9]:
frame2['state']

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

第二种获取Series写法

In [10]:
frame.year

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: year, dtype: int64

访问frame行

In [11]:
frame2.loc['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [12]:
frame2.loc['eight']

KeyError: 'eight'

给整列赋值

In [13]:
frame2['debt']=16.5

In [14]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5

将列表或数组赋值给某个列时候，其长度必须跟DataFrame的长度匹配，
如果赋值是一个Series就精确匹配到DataFrame 索引，其他会填上NaN

In [15]:
val = pd.Series([-1,-1.5,-1.7],index=['two','four','five'])
frame2['debt'] = val
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.0
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

为不存在的列赋值会创建出一个新列，关键字del 用删除列

In [16]:
frame2['happy'] = frame2.state == 'Ohio'

In [17]:
frames

NameError: name 'frames' is not defined

In [18]:
frame2

       year   state  pop  debt  happy
one    2000    Ohio  1.5   NaN   True
two    2001    Ohio  1.7  -1.0   True
three  2002    Ohio  3.6   NaN   True
four   2001  Nevada  2.4  -1.5  False
five   2002  Nevada  2.9  -1.7  False
six    2003  Nevada  3.2   NaN  False

In [19]:
frame2['nice'] = frame2['pop'] * 2
frame2

       year   state  pop  debt  happy  nice
one    2000    Ohio  1.5   NaN   True   3.0
two    2001    Ohio  1.7  -1.0   True   3.4
three  2002    Ohio  3.6   NaN   True   7.2
four   2001  Nevada  2.4  -1.5  False   4.8
five   2002  Nevada  2.9  -1.7  False   5.8
six    2003  Nevada  3.2   NaN  False   6.4

In [20]:
del frame2['nice','happy']

KeyError: ('nice', 'happy')

In [21]:
del frame2['nice']

In [22]:
frame2

       year   state  pop  debt  happy
one    2000    Ohio  1.5   NaN   True
two    2001    Ohio  1.7  -1.0   True
three  2002    Ohio  3.6   NaN   True
four   2001  Nevada  2.4  -1.5  False
five   2002  Nevada  2.9  -1.7  False
six    2003  Nevada  3.2   NaN  False

通过索引方式返回的列是相应数据视图而已，并不是副本，通过Series copy方法即可指定复制列

另一种常见的数据形式嵌套字典

In [23]:
pop = {
    'Nevada':
        {
            2001:2.4,2002:2.9
        },
    'Ohio':
        {
           2000:1.5,2001:1.7,2002:3.6
        }
}

如果传入嵌套字典给DataFrame pandas会被解释为外层字典的键作为列，内层键则作为行索引

In [24]:
frame3 = pd.DataFrame(pop)
frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

对DataFrame进行转置（交换行和列）

In [25]:
frame3.T

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

DataFrame的index 和column的name 属性 设置

In [26]:
frame3.index.name = "year"
frame3.columns.name = "state"

In [27]:
frame3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

In [28]:
frame3.T

year    2001  2002  2000
state
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

values属性会以二维ndarray 返回DataFrame的数据

In [29]:
frame3.values

array([[2.4, 1.7],
       [2.9, 3.6],
       [nan, 1.5]])

5.2 基本功能

In [ ]:
data = {'state':['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year':[2000, 2001, 2002, 2001, 2002],
        'pop':[1.5,1.7,3.6,2.4,2.9]}
frame = pd.DataFrame(data)

In [1]:
frame

NameError: name 'frame' is not defined