In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.1.4'

In [4]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [5]:
data

{'animal': ['cat',
  'cat',
  'snake',
  'dog',
  'dog',
  'cat',
  'snake',
  'cat',
  'dog',
  'dog'],
 'age': [2.5, 3, 0.5, nan, 5, 2, 4.5, nan, 7, 3],
 'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

In [6]:
df = pd.DataFrame(data, index=labels)

In [7]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [8]:
df1 = pd.DataFrame(data)

In [9]:
df1

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no

In [10]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df

In [11]:
df = pd.DataFrame([[1,2],[3,4]])

In [12]:
df

   0  1
0  1  2
1  3  4

In [13]:
df.concat(df)

AttributeError: 'DataFrame' object has no attribute 'concat'

In [ ]:
df1 = pd.DataFrame([1,2,3,4,5,6],index=['a','b','c','d','e','f'],columns=['happy'])
df1

In [ ]:
df2 = pd.DataFrame([(1,2,3,4),(2,3,4,5)],index=['a','b'],columns=['col1','col2','col3','col4'])
df2

字典转换dataframe

In [ ]:
data = {'a': [1, 2], 'b': [3, 4]}
df1 = pd.DataFrame(data)
df1

In [ ]:
data = {'people': [{'name': 'ck', 'age': 10},{'name': 'ck2', 'age': 10}]}
data

In [ ]:
df2 = pd.DataFrame(data)
df2

In [23]:
data_dict = {'color' : ['black', 'white', 'black', 'white', 'black',
                      'white', 'black', 'white', 'black', 'white'],
            'size' : ['S','M','L','M','L','S','S','XL','XL','M'],
        'date':pd.date_range('1/1/2019',periods=10, freq='W' ),
            'feature_1': np.random.randn(10),
            'feature_2': np.random.normal(0.5, 2, 10)}
array_index=[['A','B','B','B','C','A','B','A','C','C'],['JP','CN','US','US','US','CN','CN','CA','JP','CA']]
                                                 
index = pd.MultiIndex.from_arrays(array_index, names=['class', 'country'])
data_df = pd.DataFrame(data_dict,index=index)
data_df

               color size       date  feature_1  feature_2
class country
A     JP       black    S 2019-01-06   1.007540   0.694028
B     CN       white    M 2019-01-13  -0.402817   3.716323
      US       black    L 2019-01-20  -0.046512   3.129162
      US       white    M 2019-01-27   0.715755  -0.540841
C     US       black    L 2019-02-03   1.564241   0.751161
A     CN       white    S 2019-02-10  -1.093301  -2.318841
B     CN       black    S 2019-02-17  -0.989124  -2.572446
A     CA       white   XL 2019-02-24  -0.548505  -0.153491
C     JP       black   XL 2019-03-03  -0.838982  -0.772322
      CA       white    M 2019-03-10   0.033401   2.582309

In [ ]:
group_by_size = data_df.groupby('size')

In [ ]:
for i in list(group_by_size):
        print(i)

In [ ]:
group_by_size.sum('feature_1').add_prefix('sum_')

In [ ]:
group_by_size_date = data_df.groupby(['size','date'])

In [ ]:
group_by_size_date.sum('feature_1').add_prefix('sum_')

利用预先设定的函数分组

In [ ]:
def get_letter_type(letter):
    if 'feature' in letter:
        return 'feature'
    else:
        return 'other'
for i in list(data_df.groupby(get_letter_type,axis=1)):
    print(i)

利用索引分组

In [ ]:
for i in list(data_df.groupby(level=[0,1])):
    print(i)

In [ ]:
group_2 = data_df.groupby(['size','color'])

In [ ]:
for i in list(group_2):
    print(i)

In [ ]:
group_2.agg({'feature_1':np.min,'feature_2':np.mean})

transform 函数

In [ ]:
data_range = lambda x: x.max() - x.min()
data_df.groupby('size').transform(data_range)

In [19]:
for i in list(data_df.groupby('color')):
    print(i)

('black',    color size       date  feature_1  feature_2
0  black    S 2019-01-06   1.038126   0.098439
2  black    L 2019-01-20  -0.064036  -1.601794
4  black    L 2019-02-03   0.658369   1.806356
6  black    S 2019-02-17   0.752772   2.788837
8  black   XL 2019-03-03  -0.393925   4.012268)
('white',    color size       date  feature_1  feature_2
1  white    M 2019-01-13  -0.466943   2.813962
3  white    M 2019-01-27  -0.763927   0.168176
5  white    S 2019-02-10  -0.925625   2.165718
7  white   XL 2019-02-24   1.231681  -2.150777
9  white    M 2019-03-10   0.692221  -0.598405)

In [20]:
data_df.groupby('color').rolling(3).feature_1.mean()

color
black  0         NaN
       2         NaN
       4    0.544153
       6    0.449035
       8    0.339072
white  1         NaN
       3         NaN
       5   -0.718832
       7   -0.152624
       9    0.332759
Name: feature_1, dtype: float64

In [24]:
for i in data_df.groupby('class'):
    print(i)

('A',                color size       date  feature_1  feature_2
class country
A     JP       black    S 2019-01-06   1.007540   0.694028
      CN       white    S 2019-02-10  -1.093301  -2.318841
      CA       white   XL 2019-02-24  -0.548505  -0.153491)
('B',                color size       date  feature_1  feature_2
class country
B     CN       white    M 2019-01-13  -0.402817   3.716323
      US       black    L 2019-01-20  -0.046512   3.129162
      US       white    M 2019-01-27   0.715755  -0.540841
      CN       black    S 2019-02-17  -0.989124  -2.572446)
('C',                color size       date  feature_1  feature_2
class country
C     US       black    L 2019-02-03   1.564241   0.751161
      JP       black   XL 2019-03-03  -0.838982  -0.772322
      CA       white    M 2019-03-10   0.033401   2.582309)

In [26]:
data_df.groupby('class').filter('feature_1')

TypeError: 'str' object is not callable