In [20]:
import numpy as np

In [21]:
import pandas as pd

In [22]:
pd.__version__

'2.1.4'

In [23]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [24]:
data

{'animal': ['cat',
  'cat',
  'snake',
  'dog',
  'dog',
  'cat',
  'snake',
  'cat',
  'dog',
  'dog'],
 'age': [2.5, 3, 0.5, nan, 5, 2, 4.5, nan, 7, 3],
 'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

In [25]:
df = pd.DataFrame(data, index=labels)

In [26]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [27]:
df1 = pd.DataFrame(data)

In [28]:
df1

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no

In [31]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df

In [32]:
df = pd.DataFrame([[1,2],[3,4]])

In [33]:
df

   0  1
0  1  2
1  3  4

In [35]:
df.concat(df)

AttributeError: 'DataFrame' object has no attribute 'concat'

In [40]:
df1 = pd.DataFrame([1,2,3,4,5,6],index=['a','b','c','d','e','f'],columns=['happy'])
df1

   happy
a      1
b      2
c      3
d      4
e      5
f      6

In [42]:
df2 = pd.DataFrame([(1,2,3,4),(2,3,4,5)],index=['a','b'],columns=['col1','col2','col3','col4'])
df2

   col1  col2  col3  col4
a     1     2     3     4
b     2     3     4     5

字典转换dataframe

In [43]:
data = {'a': [1, 2], 'b': [3, 4]}
df1 = pd.DataFrame(data)
df1

   a  b
0  1  3
1  2  4

In [44]:
data = {'people': [{'name': 'ck', 'age': 10},{'name': 'ck2', 'age': 10}]}
data

{'people': [{'name': 'ck', 'age': 10}, {'name': 'ck2', 'age': 10}]}

In [45]:
df2 = pd.DataFrame(data)
df2

                       people
0   {'name': 'ck', 'age': 10}
1  {'name': 'ck2', 'age': 10}