In [77]:
import numpy as np

In [78]:
import pandas as pd

In [79]:
pd.__version__

'2.1.4'

In [80]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [81]:
data

{'animal': ['cat',
  'cat',
  'snake',
  'dog',
  'dog',
  'cat',
  'snake',
  'cat',
  'dog',
  'dog'],
 'age': [2.5, 3, 0.5, nan, 5, 2, 4.5, nan, 7, 3],
 'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

In [82]:
df = pd.DataFrame(data, index=labels)

In [83]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [84]:
df1 = pd.DataFrame(data)

In [85]:
df1

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no

In [86]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df

In [87]:
df = pd.DataFrame([[1,2],[3,4]])

In [88]:
df

   0  1
0  1  2
1  3  4

In [89]:
df.concat(df)

AttributeError: 'DataFrame' object has no attribute 'concat'

In [ ]:
df1 = pd.DataFrame([1,2,3,4,5,6],index=['a','b','c','d','e','f'],columns=['happy'])
df1

In [ ]:
df2 = pd.DataFrame([(1,2,3,4),(2,3,4,5)],index=['a','b'],columns=['col1','col2','col3','col4'])
df2

字典转换dataframe

In [ ]:
data = {'a': [1, 2], 'b': [3, 4]}
df1 = pd.DataFrame(data)
df1

In [ ]:
data = {'people': [{'name': 'ck', 'age': 10},{'name': 'ck2', 'age': 10}]}
data

In [ ]:
df2 = pd.DataFrame(data)
df2

In [91]:
data_dict = {'color' : ['black', 'white', 'black', 'white', 'black',
                      'white', 'black', 'white', 'black', 'white'],
            'size' : ['S','M','L','M','L','S','S','XL','XL','M'],
        'date':pd.date_range('1/1/2019',periods=10, freq='W' ),
            'feature_1': np.random.randn(10),
            'feature_2': np.random.normal(0.5, 2, 10)}
array_index=[['A','B','B','B','C','A','B','A','C','C'],['JP','CN','US','US','US','CN','CN','CA','JP','CA']]
                                                 
index = pd.MultiIndex.from_arrays(array_index, names=['class', 'country'])
data_df = pd.DataFrame(data_dict,index=index)
data_df

               color size       date  feature_1  feature_2
class country
A     JP       black    S 2019-01-06   0.079250   0.001249
B     CN       white    M 2019-01-13  -0.223502   0.237778
      US       black    L 2019-01-20  -1.479936  -0.923234
      US       white    M 2019-01-27  -0.743658  -1.975354
C     US       black    L 2019-02-03   0.477011  -1.577402
A     CN       white    S 2019-02-10  -0.797722   1.269546
B     CN       black    S 2019-02-17   0.088330   0.182868
A     CA       white   XL 2019-02-24  -0.719702   4.110095
C     JP       black   XL 2019-03-03   0.873853   4.370260
      CA       white    M 2019-03-10  -0.585062   2.611070

In [92]:
data_dict

{'color': ['black',
  'white',
  'black',
  'white',
  'black',
  'white',
  'black',
  'white',
  'black',
  'white'],
 'size': ['S', 'M', 'L', 'M', 'L', 'S', 'S', 'XL', 'XL', 'M'],
 'date': DatetimeIndex(['2019-01-06', '2019-01-13', '2019-01-20', '2019-01-27',
                '2019-02-03', '2019-02-10', '2019-02-17', '2019-02-24',
                '2019-03-03', '2019-03-10'],
               dtype='datetime64[ns]', freq='W-SUN'),
 'feature_1': array([ 0.0792502 , -0.22350238, -1.47993611, -0.74365799,  0.47701053,
        -0.79772185,  0.08833029, -0.71970163,  0.87385284, -0.58506232]),
 'feature_2': array([ 1.24865490e-03,  2.37778088e-01, -9.23234049e-01, -1.97535425e+00,
        -1.57740164e+00,  1.26954619e+00,  1.82867861e-01,  4.11009537e+00,
         4.37025990e+00,  2.61107039e+00])}

In [ ]:
data_df = pd.DataFrame(data_dict)

In [93]:
data_df

               color size       date  feature_1  feature_2
class country
A     JP       black    S 2019-01-06   0.079250   0.001249
B     CN       white    M 2019-01-13  -0.223502   0.237778
      US       black    L 2019-01-20  -1.479936  -0.923234
      US       white    M 2019-01-27  -0.743658  -1.975354
C     US       black    L 2019-02-03   0.477011  -1.577402
A     CN       white    S 2019-02-10  -0.797722   1.269546
B     CN       black    S 2019-02-17   0.088330   0.182868
A     CA       white   XL 2019-02-24  -0.719702   4.110095
C     JP       black   XL 2019-03-03   0.873853   4.370260
      CA       white    M 2019-03-10  -0.585062   2.611070

In [95]:
group_by_size = data_df.groupby('size')

In [96]:
for i in list(group_by_size):
        print(i)

('L',                color size       date  feature_1  feature_2
class country
B     US       black    L 2019-01-20  -1.479936  -0.923234
C     US       black    L 2019-02-03   0.477011  -1.577402)
('M',                color size       date  feature_1  feature_2
class country
B     CN       white    M 2019-01-13  -0.223502   0.237778
      US       white    M 2019-01-27  -0.743658  -1.975354
C     CA       white    M 2019-03-10  -0.585062   2.611070)
('S',                color size       date  feature_1  feature_2
class country
A     JP       black    S 2019-01-06   0.079250   0.001249
      CN       white    S 2019-02-10  -0.797722   1.269546
B     CN       black    S 2019-02-17   0.088330   0.182868)
('XL',                color size       date  feature_1  feature_2
class country
A     CA       white   XL 2019-02-24  -0.719702   4.110095
C     JP       black   XL 2019-03-03   0.873853   4.370260)

In [97]:
group_by_size.sum('feature_1').add_prefix('sum_')

      sum_feature_1  sum_feature_2
size
L         -1.002926      -2.500636
M         -1.552223       0.873494
S         -0.630141       1.453663
XL         0.154151       8.480355

In [ ]:
group_by_size_date = data_df.groupby(['size','date'])

In [98]:
group_by_size_date.sum('feature_1').add_prefix('sum_')

                 sum_feature_1  sum_feature_2
size date
L    2019-01-20      -0.696657      -1.649752
     2019-02-03       0.397120       1.160297
M    2019-01-13      -0.062162       1.992438
     2019-01-27       0.694634       5.530924
     2019-03-10       1.698881       2.081910
S    2019-01-06       1.478424      -0.726072
     2019-02-10      -0.432089      -2.152262
     2019-02-17      -0.895602      -1.024900
XL   2019-02-24       0.372604      -1.182194
     2019-03-03      -0.534942      -0.932566

利用预先设定的函数分组

In [99]:
def get_letter_type(letter):
    if 'feature' in letter:
        return 'feature'
    else:
        return 'other'
for i in list(data_df.groupby(get_letter_type,axis=1)):
    print(i)

('feature',                feature_1  feature_2
class country
A     JP        0.079250   0.001249
B     CN       -0.223502   0.237778
      US       -1.479936  -0.923234
      US       -0.743658  -1.975354
C     US        0.477011  -1.577402
A     CN       -0.797722   1.269546
B     CN        0.088330   0.182868
A     CA       -0.719702   4.110095
C     JP        0.873853   4.370260
      CA       -0.585062   2.611070)
('other',                color size       date
class country
A     JP       black    S 2019-01-06
B     CN       white    M 2019-01-13
      US       black    L 2019-01-20
      US       white    M 2019-01-27
C     US       black    L 2019-02-03
A     CN       white    S 2019-02-10
B     CN       black    S 2019-02-17
A     CA       white   XL 2019-02-24
C     JP       black   XL 2019-03-03
      CA       white    M 2019-03-10)

/var/folders/gd/8y9x6hsx68q9nj6yn7hklxbh0000gn/T/ipykernel_33733/4168388543.py:6: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  for i in list(data_df.groupby(get_letter_type,axis=1)):

利用索引分组

In [100]:
for i in list(data_df.groupby(level=[0,1])):
    print(i)

(('A', 'CA'),                color size       date  feature_1  feature_2
class country
A     CA       white   XL 2019-02-24  -0.719702   4.110095)
(('A', 'CN'),                color size       date  feature_1  feature_2
class country
A     CN       white    S 2019-02-10  -0.797722   1.269546)
(('A', 'JP'),                color size       date  feature_1  feature_2
class country
A     JP       black    S 2019-01-06    0.07925   0.001249)
(('B', 'CN'),                color size       date  feature_1  feature_2
class country
B     CN       white    M 2019-01-13  -0.223502   0.237778
      CN       black    S 2019-02-17   0.088330   0.182868)
(('B', 'US'),                color size       date  feature_1  feature_2
class country
B     US       black    L 2019-01-20  -1.479936  -0.923234
      US       white    M 2019-01-27  -0.743658  -1.975354)
(('C', 'CA'),                color size       date  feature_1  feature_2
class country
C     CA       white    M 2019-03-10  -0.585062    2.61107)
(('C', 'JP'),                color size       date  feature_1  feature_2
class country
C     JP       black   XL 2019-03-03   0.873853    4.37026)
(('C', 'US'),                color size       date  feature_1  feature_2
class country
C     US       black    L 2019-02-03   0.477011  -1.577402)

In [101]:
group_2 = data_df.groupby(['size','color'])

In [102]:
for i in list(group_2):
    print(i)

(('L', 'black'),                color size       date  feature_1  feature_2
class country
B     US       black    L 2019-01-20  -1.479936  -0.923234
C     US       black    L 2019-02-03   0.477011  -1.577402)
(('M', 'white'),                color size       date  feature_1  feature_2
class country
B     CN       white    M 2019-01-13  -0.223502   0.237778
      US       white    M 2019-01-27  -0.743658  -1.975354
C     CA       white    M 2019-03-10  -0.585062   2.611070)
(('S', 'black'),                color size       date  feature_1  feature_2
class country
A     JP       black    S 2019-01-06    0.07925   0.001249
B     CN       black    S 2019-02-17    0.08833   0.182868)
(('S', 'white'),                color size       date  feature_1  feature_2
class country
A     CN       white    S 2019-02-10  -0.797722   1.269546)
(('XL', 'black'),                color size       date  feature_1  feature_2
class country
C     JP       black   XL 2019-03-03   0.873853    4.37026)
(('XL', 'white'),                color size       date  feature_1  feature_2
class country
A     CA       white   XL 2019-02-24  -0.719702   4.110095)

In [103]:
group_2.agg({'feature_1':np.min,'feature_2':np.mean})

/var/folders/gd/8y9x6hsx68q9nj6yn7hklxbh0000gn/T/ipykernel_33733/1240364746.py:1: FutureWarning: The provided callable <function min at 0x1074d5bc0> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  group_2.agg({'feature_1':np.min,'feature_2':np.mean})
/var/folders/gd/8y9x6hsx68q9nj6yn7hklxbh0000gn/T/ipykernel_33733/1240364746.py:1: FutureWarning: The provided callable <function mean at 0x1074d6480> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  group_2.agg({'feature_1':np.min,'feature_2':np.mean})

            feature_1  feature_2
size color
L    black  -1.479936  -1.250318
M    white  -0.743658   0.291165
S    black   0.079250   0.092058
     white  -0.797722   1.269546
XL   black   0.873853   4.370260
     white  -0.719702   4.110095

transform 函数

In [104]:
data_range = lambda x: x.max() - x.min()
data_df.groupby('size').transform(data_range)

TypeError: unsupported operand type(s) for -: 'str' and 'str'