In [18]:
import pandas as pd
from pandas import DataFrame
import numpy as np

df1 = DataFrame({'key': ['b', 'c', 'd', 'a', 'b', 'c'], 'data': range(6)})
df2 = DataFrame({'key': ['a', 'b', 'd'], 'data': range(3)})

如果merge 不指定 则以整条内容相同的作为匹配条件

In [19]:
pd.merge(df1, df2)

  key  data
0   d     2

如果指定 on 则以 on 指定的列作为匹配条件

In [20]:
pd.merge(df1, df2, on='key')

  key  data_x  data_y
0   b       0       1
1   b       4       1
2   d       2       2
3   a       3       0

列名不一样进行merge

In [21]:
df3 = DataFrame({'lkey': ['b', 'c', 'd', 'a', 'b', 'c'], 'data': range(6)})
df4 = DataFrame({'rkey': ['a', 'b', 'd'], 'data': range(3)})
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

  lkey  data_x rkey  data_y
0    b       0    b       1
1    b       4    b       1
2    d       2    d       2
3    a       3    a       0

how 支持 默认 inner left right outer

In [22]:
pd.merge(df1, df2, on='key', how='outer')

  key  data_x  data_y
0   b       0     1.0
1   b       4     1.0
2   c       1     NaN
3   c       5     NaN
4   d       2     2.0
5   a       3     0.0

多对多合并

In [23]:
df1 = DataFrame({'key': ['a', 'b', 'c', 'd', 'b', 'c'], 'data': range(6)})
df1

  key  data
0   a     0
1   b     1
2   c     2
3   d     3
4   b     4
5   c     5

In [24]:
df2 = DataFrame({'key': ['a', 'b', 'c', 'd'], 'data': range(4)})
df2

  key  data
0   a     0
1   b     1
2   c     2
3   d     3

In [25]:
pd.merge(df1, df2, on='key', how='left')

  key  data_x  data_y
0   a       0       0
1   b       1       1
2   c       2       2
3   d       3       3
4   b       4       1
5   c       5       2

In [26]:
pd.merge(df1, df2, on='key', how='inner')

  key  data_x  data_y
0   a       0       0
1   b       1       1
2   b       4       1
3   c       2       2
4   c       5       2
5   d       3       3

多个key操作

In [27]:
df1 = DataFrame({'key': ['a', 'b', 'c'], 'key2': ['foo', 'bar', 'aaa'], 'data': range(3)})

In [28]:
df1

  key key2  data
0   a  foo     0
1   b  bar     1
2   c  aaa     2

In [29]:
df2 = DataFrame({'key': ['b', 'c', 'd'], 'key2': ['bar', 'aaa', 'bbb'], 'data': range(3)})
df2

  key key2  data
0   b  bar     0
1   c  aaa     1
2   d  bbb     2

In [30]:
pd.merge(df1, df2, left_on=['key', 'key2'], right_on=['key', 'key2'], how='inner')

  key key2  data_x  data_y
0   b  bar       1       0
1   c  aaa       2       1

In [31]:
pd.merge(df1, df2, left_on=['key', 'key2'], right_on=['key', 'key2'], how='outer')

  key key2  data_x  data_y
0   a  foo     0.0     NaN
1   b  bar     1.0     0.0
2   c  aaa     2.0     1.0
3   d  bbb     NaN     2.0

索引上的合并

In [32]:
df1 = DataFrame({'col1': ['A', 'B', 'C', 'D'], 'data': range(4)})
df1

  col1  data
0    A     0
1    B     1
2    C     2
3    D     3

In [33]:
df2 = DataFrame({'col1': ['B', 'D', 'A', 'C'], 'data': range(4)})
df2

  col1  data
0    B     0
1    D     1
2    A     2
3    C     3

为了更方便实现index merge = join

In [34]:
arr = np.arange(12).reshape((3, 4))

In [35]:
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [37]:
np.concatenate([arr, arr],axis=1)

array([[ 0,  1,  2,  3,  0,  1,  2,  3],
       [ 4,  5,  6,  7,  4,  5,  6,  7],
       [ 8,  9, 10, 11,  8,  9, 10, 11]])