In [1]:
import numpy as np
import pandas as pd
import  sys
from pandas import Series,DataFrame,Index

In [2]:
obj = Series(range(3),index=['a','b','c'])

In [3]:
print(obj)

a    0
b    1
c    2
dtype: int64

In [4]:
index = obj.index

In [5]:
index

Index(['a', 'b', 'c'], dtype='object')

In [6]:
index[1:]

Index(['b', 'c'], dtype='object')

In [8]:
try:
    index[1] = 'd'
except:
    print(sys.exc_info()[0])

<class 'TypeError'>

判断索引是否存在

In [11]:
pop = {'Nevada':{2001:2.4,2002:2.9},'Ohio':{2000:1.5,2001:1.7,2002:3.6}}
frame3 = DataFrame(pop)
frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [10]:
print('Ohio' in frame3.columns)

True

In [12]:
print(2003 in frame3.index)

False

In [13]:
print('重新指定索引及顺序')
obj = Series([4.5, 7.2, -5.3, 3.6], index = ['d', 'b', 'a', 'c'])
print(obj)
obj2 = obj.reindex(['a', 'b', 'd', 'c', 'e'])
print(obj2)
print(obj.reindex(['a', 'b', 'd', 'c', 'e'], fill_value = 0))

重新指定索引及顺序
d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64
a   -5.3
b    7.2
d    4.5
c    3.6
e    NaN
dtype: float64
a   -5.3
b    7.2
d    4.5
c    3.6
e    0.0
dtype: float64

In [15]:
print('重新制定索引并指定填元素充方法')
obj3 = Series(['blue','purple','yellow'],index = [0,2,4])
print(obj3)
print(obj3.reindex(range(6), method = 'ffill'))

重新制定索引并指定填元素充方法
0      blue
2    purple
4    yellow
dtype: object
0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

dataframe 重新制定索引

In [17]:
frame = DataFrame(np.arange(9).reshape(3,3),index=['a','c','d'],columns=['Ohio','Texas','California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [18]:
states = ['Texas','Utah','California']
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

根据索引删除元素

In [21]:
obj = Series(np.arange(5.),index=['a','b','c','d','e'])
print(obj)
new = obj.drop('c')
print(new)

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64
a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

dataframe 删除指定元素或列

In [22]:
data = DataFrame(np.arange(16).reshape(4,4),index=['Ohio','Colorado','Utah','New York'],columns=['one','two','three','four'])

In [23]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [25]:
print(data.drop(['Ohio','Colorado']))

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [26]:
print(data.drop('two',axis=1))

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15